$ix-tag-filter-item-padding-left: dynamic(25px);
$ix-tag-filter-item-bgimage: theme-background-image('iext/filter');
$ix-tag-filter-item-selected-border: dynamic(solid 1px #009e47);
$ix-tag-filter-item-selected-bgcolor: dynamic(#009e47);