$apps-item-focused-outline-color: dynamic(#fff);
$apps-item-selected-outline-color: dynamic(#fff);
$apps-item-selected-back-color: dynamic(lighten(#393939, 15%));
$apps-body-back-color: dynamic(lighten(#393939, 10%));
$apps-body-padding-top: dynamic(30px);
$apps-item-width: dynamic(130px);
$apps-item-padding: dynamic(10px);
$apps-item-margin: dynamic(10px 10px 10px 10px);
$apps-item-title-font-size: dynamic(14px);
$apps-item-title-color: dynamic(#fff);
$apps-item-title-padding-top: dynamic(15px);
$apps-item-title-margin: dynamic(0);