$ix-win-border-width: dynamic(1px);
$ix-win-border-radius: dynamic(2px);
$ix-win-border-color: dynamic(#e5e5e5);

$ix-win-header-color: dynamic(#666666);
$ix-win-header-text-padding: dynamic(6px);
$ix-win-header-padding: dynamic(10px 15px 10px 10px);
$ix-win-header-border-width:dynamic(1px);
$ix-win-header-background-color: dynamic(#ffffff);

$ix-win-tool-el-color: dynamic(#cccccc);

$ix-ddwin-border-width: dynamic(1px);
$ix-ddwin-border-radius: dynamic(1px);
$ix-ddwin-border-color: dynamic(#c2c2c2);

$ix-ddwin-header-color: dynamic(#666);
$ix-ddwin-header-border-width: dynamic(1px);
$ix-ddwin-header-padding: dynamic(8px 8px 8px 8px);
$ix-ddwin-header-background-color: dynamic(#f5f5f5);
$ix-ddwin-tool-background-image: dynamic('tools/tool-sprites-dark');