.ix-app-logon {
    .ix-logon-header {
        background-color: #5f5e97;
        .x-title {
            color: #fff;
        }
    }
    .ix-logon-copyright {
        text-align: center;
        padding: 25px 5px 5px;
    }
    .ix-form {
        border-radius: 5px;
    }
}