/* 去掉焦点边框 */

.ix-grid .x-grid-row-checker:focus {
    outline-width: 0 !important;
}

.ix-grid-no-focus .x-grid-item-focused .x-grid-cell-inner:before {
    border-width: 0 !important;
}

.ix-grid {
    .x-unselectable {
        cursor: pointer !important;
    }
    /* 设置 preview plugin 样式
       使得复选模式下左边 checkbox 的边框完整 */
    .x-grid-rowbody {
        margin-left: 31px;
        border-left: solid 1px #e9e9e9;
    }
}


/* 调整 grid body 上边框为1px */

.x-grid-body {
    border-width: 1px 1px 0;
}