$menu-item-height: dynamic(36px);
$menu-item-active-text-color: $ix-menu-item-active-text-color;
$menu-item-active-background-color: $ix-menu-item-active-background-color;

/*
$menu-padding: dynamic(10px 0 10px 0);
*/