/* 下拉框样式设置 */

.ix-picker {
    border: 1px solid #afafb6;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* 没有数据时，会存在边框重叠的问题 */
    /*.x-toolbar {
        border-top: solid 1px #afafb6 !important;
    }*/
    .ix-col {
        display: inline-block;
        margin-right: 10px;
        padding: 2px 10px 2px 0;
    }
    .ix-line {
        /* 利用原x-boundlist-item的padding:10px，采用右边框方案 */
        border-right: 1px solid #afafb6;
    }
}

.ix-picker.ix-rows {
    .x-boundlist-item {
        border-width: 0;
        border-bottom: 1px solid #afafb6;
    }
}

.ix-picker.ix-cols {
    /* 去掉边框，否则列线回出现一个像素的断点 */
    .x-boundlist-item {
        border-width: 0;
    }
}