.ix-quick-lbl {
    font-weight: normal;
}

.ix-large {
    .ix-display {
        font-size: 20px;
        padding: 5px;
    }
    .x-form-display-field-body {
        border-bottom: solid 2px #000;
        background-color: #ffffea !important;
    }
}

.ix-medium {
    .ix-display {
        font-size: 17px;
        padding: 3px;
    }
    .x-form-display-field-body {
        border-bottom: solid 2px #000;
        background-color: #ffffea !important;
    }
}