.ix-multi-item {
    display: inline-block;
    width: 18px;
    font-family: FontAwesome;
    font-size: 14px;
    text-align: center;
    padding-right: 10px;
}

.ix-multi-item:before {
    content: "\f096";
}

.x-boundlist-selected {
    .ix-multi-item:before {
        content: "\f046";
    }
}