.ix-taglabel {
    
    .x-form-trigger-wrap-default {
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }

}