.ix-taglabel {
    .x-form-trigger-wrap-default {
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }
    .x-tagfield-item {
        padding-left: 25px;
        background-image: theme-background-image('iext/filter');
        background-repeat: no-repeat;
    }

    .x-tagfield-item.x-tagfield-item-selected {
        border: solid 1px $form-text-field-focus-border-color;
        background-color: #009e47;
    }

}