.ix-tagsearch {
    .x-tagfield-item {
        padding-left: 25px;
        background-image: theme-background-image('iext/filter');
        background-repeat: no-repeat;
    }
    .ix-tagfield-noclose {
        padding-right: 1px;
    }
    .x-tagfield-item.x-tagfield-item-selected {
        border: solid 1px #777777;
        background-color: #e9e9f1;
        color: #333;
        .x-tagfield-item-close {
            color: #333;
        }
    }
}