.ix-tag-search {
    .x-tagfield-item {
        padding-left: 25px;
        background-image: theme-background-image('iext/filter');
        background-repeat: no-repeat;
    }
    .ix-tagfield-noclose {
        padding-right: 1px;
    }
}