.ix-tagsearch {
    .x-tagfield-item {
        padding-left: 25px;
        background-image: theme-background-image('iext/filter');
        background-repeat: no-repeat;
    }
    .ix-tagfield-noclose {
        padding-right: 1px;
    }
}

.ix-tagsearch-picker {
    border: 1px solid #afafb6;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}