.ix-large {
    .x-form-text-default {
        font-size: 20px;
    }
    .x-form-trigger-wrap-default {
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom: solid 2px #000;
    }
}

.ix-medium {
    .x-form-text-default {
        font-size: 17px;
    }
    .x-form-trigger-wrap-default {
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom: solid 2px #000;
    }
}