.ix-text-large {

    .x-form-text-default {
        font-size: 24px;
    }

    .x-form-trigger-wrap-default {
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom: solid 2px #000;
    }

}
