@include extjs-toolbar-ui(
    $ui: 'ix-app-tbr',

    $background-color: $ix-app-tbr-background-color,
    $vertical-spacing: $ix-app-tbr-vertical-spacing,
    $horizontal-spacing: $ix-app-tbr-horizontal-spacing,

    $text-color: $ix-app-tbr-text-color
);

@include extjs-button-small-ui(
    $ui: 'ix-app-btn',

    $color:#fff,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
        
);

@include extjs-button-medium-ui(
    $ui: 'ix-app-btn',

    $color:#fff,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
        
);

@include extjs-button-large-ui(
    $ui: 'ix-app-btn',

    $color:#fff,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
);
