@include extjs-toolbar-ui(
    $ui: 'ix-app-header-ui',

    $background-color: #5f5e97,
    $vertical-spacing: 2px,
    $horizontal-spacing: 6px,

    $text-color: #fff
);

@include extjs-button-small-ui(
    $ui: 'ix-app-btn-ui',

    $color: #fff,
    $glyph-color: #fff,
    $arrow-glyph-color: #fff,
    $border-width: 0,
    $background-color: #5f5e97,
    $background-color-over: #5f5e97,
    $background-color-pressed: #5f5e97
);

@include extjs-button-medium-ui(
    $ui: 'ix-app-btn-ui',

    $color: #fff,
    $glyph-color: #fff,
    $arrow-glyph-color: #fff,
    $border-width: 0,
    $background-color: #5f5e97,
    $background-color-over: #5f5e97,
    $background-color-pressed: #5f5e97
);

@include extjs-button-large-ui(
    $ui: 'ix-app-btn-ui',

    $color: #fff,
    $glyph-color: #fff,
    $arrow-glyph-color: #fff,
    $border-width: 0,
    $background-color: #5f5e97,
    $background-color-over: #5f5e97,
    $background-color-pressed: #5f5e97
);
