.ix-app-title-large {
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    top: 12px !important;
}

.ix-app-title-medium {
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    top: 9px !important;
}
