.ix-tbr-indexer {
    .x-btn {
        border-color: transparent !important;
        background-color: transparent !important;
    }
    .x-btn-over {
        background-color: #ececec !important;
    }
    .x-btn.x-btn-pressed {
        background-color: #e2e2e2 !important;
    }
}
