@include extjs-toolbar-ui(
    $ui: 'ix-view-tbr-ui',

    $background-color: $ix-view-tbr-background-color,
    $vertical-spacing: $ix-view-tbr-vertical-spacing,
    $horizontal-spacing: $ix-view-tbr-horizontal-spacing,

    $text-color: $ix-view-tbr-text-color
);

@include extjs-button-small-ui(
    $ui: 'ix-view-btn-ui',

    $color:#fff,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
        
);

@include extjs-button-medium-ui(
    $ui: 'ix-view-btn-ui',

    $color:#fff,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
        
);

@include extjs-button-large-ui(
    $ui: 'ix-view-btn-ui',

    $color:#fff,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
);

@include extjs-menu-ui(
    $ui: 'ix-view-menu-ui',

    $ui-item-height: $ix-view-menu-item-height,
    $ui-item-font-size: $ix-view-menu-item-font-size,

    $ui-text-color: $ix-view-menu-text-color,
    $ui-border-color: $ix-view-menu-border-color,
    $ui-background-color: $ix-view-menu-background-color,
    
    $ui-item-active-text-color: $ix-view-menu-active-text-color,
    $ui-item-active-border-color: transparent,
    $ui-item-active-background-color: $ix-view-menu-active-background-color
 
);