$button-toolbar-border-color: transparent;

$button-toolbar-background-color: $ix-toolbar-background-color;
$button-toolbar-color: $base-color;

$button-small-font-size: 14px;
$button-medium-font-size: 16px;
$button-large-font-size: 18px;