/* 按钮字体设置 */

$button-small-font-size: 12px;
$button-medium-font-size: 14px;
$button-large-font-size: 16px;
// 按钮文本颜色
$button-default-color: #000;
// 按钮图标颜色
$button-default-glyph-color: #919191;
$button-default-arrow-glyph-color: #919191;

/* 按钮样式设置 */

$button-default-background-color: dynamic(#ffffff);
$button-default-border-color: dynamic(#cccccc);

/* 按钮鼠标移过样式设置 */

$button-default-background-color-over: dynamic(#e6e6e6);
$button-default-border-color-over: dynamic(#adadad);

/* 按钮按下样式设置 */

$button-default-background-color-pressed: dynamic(#e6e6e6);
$button-default-border-color-pressed: dynamic(#cccccc);

/* 按钮焦点样式设置 */

$button-default-background-color-focus: dynamic(#ffffff);
$button-default-border-color-focus: dynamic(#adadad);
$button-default-inner-border-color-focus: dynamic(#ffffff);

/* 按钮焦点且鼠标移过设置 */

$button-default-background-color-focus-over: dynamic(#e6e6e6);
$button-default-border-color-focus-over: dynamic(#adadad);
$button-default-inner-border-color-focus-over: dynamic(#e6e6e6);

/* 按钮焦点且按下设置 */

$button-default-background-color-focus-pressed: dynamic(#ffffff);
$button-default-border-color-focus-pressed: dynamic(#adadad);
$button-default-inner-border-color-focus-pressed: dynamic(#ffffff);

/* 工具栏按钮样式设置 */

$button-toolbar-color: #000;
$button-toolbar-glyph-color: #919191;
$button-toolbar-arrow-glyph-color: #919191;
$button-toolbar-background-color: dynamic(#ffffff);
$button-toolbar-border-color: dynamic(#cccccc);

/* 工具栏按钮鼠标移过样式设置 */

$button-toolbar-background-color-over: dynamic(#e6e6e6);
$button-toolbar-border-color-over: dynamic(#adadad);

/* 工具栏按钮按下样式设置 */

$button-toolbar-background-color-pressed: dynamic(#e6e6e6);
$button-toolbar-border-color-pressed: dynamic(#cccccc);

/* 工具栏按钮焦点样式设置 */

$button-toolbar-background-color-focus: dynamic(#ffffff);
$button-toolbar-border-color-focus: dynamic(#adadad);
$button-toolbar-inner-border-color-focus: dynamic(#ffffff);

/* 工具栏按钮焦点且鼠标移过设置 */

$button-toolbar-background-color-focus-over: dynamic(#e6e6e6);
$button-toolbar-border-color-focus-over: dynamic(#adadad);
$button-toolbar-inner-border-color-focus-over: dynamic(#e6e6e6);

/* 工具栏按钮焦点且按下设置 */

$button-toolbar-background-color-focus-pressed: dynamic(#ffffff);
$button-toolbar-border-color-focus-pressed: dynamic(#adadad);
$button-toolbar-inner-border-color-focus-pressed: dynamic(#ffffff);