.ix-kanban-body {
    border-top: solid 1px #adadad !important;
}


/* 列表容器 */

.ix-list-container-body {
    .ix-kanban-body {
        border-top-width: 0 !important;
    }
}

.ix-kanban-item {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    /* box-shadow: 0px 0px 1px 1px #666666; */
    border: solid 1px #666666;
}

.ix-kanban-item-selected {
    outline: none !important;
    border-color: #515081;
    background-color: #ece9c2;
}
