.ix-quick-container {
    border-left: solid 1px #d0d0d0 !important;
 
    .x-btn {
        border-color: transparent !important;
        background-color: transparent !important;
    }
    .x-btn-over {
        background-color: #ececec !important;
    }
}

.ix-quick-container-body{
    border-top: solid 1px #d0d0d0 !important;
}