.ix-stage-panel {
    .x-panel-header {
        background-color: $ix-stage-panel-bg-color;
    }
    .x-panel-body {
        background-color: $ix-stage-panel-bg-color;
    }
    .x-tool-tool-el {
        background-color: $ix-stage-panel-bg-color;
    }
}

.ix-stage-panel-alt {
    .x-panel-header {
        background-color: $ix-stage-panel-alt-bg-color;
    }
    .x-panel-body {
        background-color: $ix-stage-panel-alt-bg-color;
    }
    .x-tool-tool-el {
        background-color: $ix-stage-panel-alt-bg-color;
    }
}