.ix-stage-panel {
    .x-panel-header {
        background-color: #e9e6e6;
    }
    .x-panel-body {
        background-color: #e9e6e6;
    }
    .x-tool-tool-el {
        background-color: #e9e6e6;
    }
}

.ix-stage-panel-alt {
    .x-panel-header {
        background-color: #f0eeee;
    }
    .x-panel-body {
        background-color: #f0eeee;
    }
    .x-tool-tool-el {
        background-color: #f0eeee;
    }
}