@include extjs-toolbar-ui(
    $ui: 'ix-view-header-ui',

    $background-color: $ix-view-header-background-color,
    $vertical-spacing: $ix-view-header-vertical-spacing,
    $horizontal-spacing: $ix-view-header-horizontal-spacing,

    $text-color: $ix-view-header-text-color
);

@include extjs-menu-ui(
    $ui: 'ix-view-menu-ui',

    $ui-item-height: $ix-view-menu-item-height,
    //$ui-item-font-size: $ix-view-menu-item-font-size,

    $ui-text-color: $ix-view-menu-text-color,
    $ui-border-color: $ix-view-menu-border-color,
    $ui-background-color: $ix-view-menu-background-color,
    
    $ui-item-active-text-color: $ix-view-menu-active-text-color,
    $ui-item-active-border-color: transparent,
    $ui-item-active-background-color: $ix-view-menu-active-background-color
 
);

.ix-view-header{
    .ix-tbr-holder{
        border-color: transparent !important;
        background-color: transparent !important;
    }
}