.ix-data-view {
    .x-view-item-focused {
        outline: none !important;
    }
}

.ix-view-item {
    float: left;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    display: -webkit-flex; /* Safari */
    border: solid 1px #a8a8a8;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.ix-view-item-over {
    background-color: #e5f1ee;
}

.ix-view-item-selected {
    outline: none !important;
    border-color: #1a7759;
    background-color: #ffefbb;
}

.ix-view-mask {
    background-color: #e8e8e8 !important;
}