/* Global_CSS */

$enable-font-awesome: dynamic(true);
$enable-font-open-sans: false;
$font-weight: normal;
$color: dynamic(#000);
$base-color: dynamic(#5f5e97);
$include-rtl: false;
$font-family: "Lucida Grande",
"Microsoft YaHei",
Helvetica,
Verdana,
Arial,
sans-serif;

/* ix 全局变量定义 */

// $ix-app-base-color: dynamic(#875a7b);
// $ix-app-over-color: dynamic(#68465f);
// $ix-menu-item-active-background-color: dynamic(#d1d1d1);
$ix-app-base-color: dynamic(#515081);
$ix-app-over-color: dynamic(#5f5e97);
$ix-menu-item-active-text-color: dynamic(#000);
$ix-menu-item-active-background-color: dynamic(#f5f5f5);
$ix-toolbar-text-color: dynamic(#333);
$ix-toolbar-background-color: dynamic(#fff);