$tab-font-size: 16px;
$tab-color: $base-color;
$tab-color-active: #333;
$tab-body-outline-width-focus: 0;

$tab-border-color: #fff;
$tab-border-color-active: #fff;
$tab-border-color-focus: #fff;
$tab-border-color-focus-active: #fff;
$tab-border-color-focus-over: #fff;
$tab-border-color-over: #fff;
