$ix-app-header-background-color: dynamic(#373d41);
$ix-app-header-vertical-spacing:dynamic(2px);
$ix-app-header-horizontal-spacing:dynamic(6px);
$ix-app-header-text-color:dynamic(#fff);

$ix-app-menu-base-color: dynamic(#373d41);
// 与toolbar等高
$ix-app-menu-item-height: dynamic(38px);
$ix-app-menu-item-font-size: dynamic(14px);

$ix-app-menu-text-color: dynamic(#fff);
$ix-app-menu-border-color: dynamic(lighten($ix-app-menu-base-color, 5%));
$ix-app-menu-background-color: dynamic(lighten($ix-app-menu-base-color, 5%));

$ix-app-menu-active-text-color: dynamic(#fff);
$ix-app-menu-active-background-color: dynamic(lighten($ix-app-menu-base-color, 10%));
