@include extjs-toolbar-ui(
    $ui: 'ix-app-header-ui',

    $background-color: $ix-app-header-background-color,
    $vertical-spacing: $ix-app-header-vertical-spacing,
    $horizontal-spacing: $ix-app-header-horizontal-spacing,

    $text-color: $ix-app-header-text-color
);

@include extjs-button-small-ui(
    $ui: 'ix-app-btn-ui',

    $color: $ix-app-header-text-color,
    $background-color-over: $ix-app-header-background-color-over,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
        
);

@include extjs-button-medium-ui(
    $ui: 'ix-app-btn-ui',

    $color: $ix-app-header-text-color,
    $background-color-over: $ix-app-header-background-color-over,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
        
);

@include extjs-button-large-ui(
    $ui: 'ix-app-btn-ui',

    $color: $ix-app-header-text-color,
    $background-color-over: $ix-app-header-background-color-over,
    $background-color: transparent,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent
);
