.ix-win {
    .x-toolbar {
        background-color: #fff;
    }
    .x-window-header {
        .x-toolbar {
            padding: 0;
        }
    }
    .x-tool-tool-el {
        /* 与按钮边框颜色相同 */
        color: #ccc;
    }
}

.ix-win {
    .x-toolbar-footer {
        border-color: #f0eeee;
        border-width: 1px 0 0 0;
    }
}