@include extjs-window-ui(
    $ui: 'ix-win-ui',

    $ui-border-width: $ix-win-border-width,
    $ui-border-radius: $ix-win-border-radius,
    $ui-border-color: $ix-win-border-color,

    $ui-header-color: $ix-win-header-color,
    $ui-header-text-padding: $ix-win-header-text-padding,
    $ui-header-border-width: $ix-win-header-border-width,
    $ui-header-background-color: $ix-win-header-background-color,
    $ui-header-padding: $ix-win-header-padding

);

.ix-win{
    .x-tool-tool-el{
        color: $ix-win-tool-el-color
    }
    .x-toolbar-text-default{
        font-size: 16px;
        color: $ix-win-header-color;
    }
}

@include extjs-window-ui(
    $ui: 'ix-ddwin-ui',

    $ui-border-width: $ix-ddwin-border-width,
    $ui-border-radius: $ix-ddwin-border-radius,
    $ui-border-color: $ix-ddwin-border-color,
    $ui-header-color: $ix-ddwin-header-color,
    $ui-header-border-width: $ix-ddwin-header-border-width,
    $ui-header-padding: $ix-ddwin-header-padding,
    $ui-header-background-color: $ix-ddwin-header-background-color,
    $ui-tool-background-image: $ix-ddwin-tool-background-image

);