$window-border-width: 1px;
$window-border-radius: 2px;
$window-border-color: #c8c8d3;

$window-header-color: #666;
$window-header-background-color: #fff;
$window-header-border-width: 1px;
$window-header-padding: 10px 15px 10px 10px;
$window-header-text-padding: 6px;
$window-header-font-size: 16px;