
$ix-app-header-background-color: $ix-app-base-color;
$ix-app-header-background-color-over: $ix-app-over-color;
$ix-app-header-vertical-spacing: dynamic(2px);
$ix-app-header-horizontal-spacing: dynamic(6px);
$ix-app-header-text-color: dynamic(#fff);
