
$ix-form-header-background-color: dynamic(#e2e2e0);
$ix-form-header-background-color-over: dynamic(#c9c9c6);
$ix-form-header-vertical-spacing: dynamic(0);
$ix-form-header-horizontal-spacing: dynamic(0);
$ix-form-header-text-color: dynamic(#333);

$ix-form-header-item-border-left: dynamic(solid 1px #8f8f8f);
