$ix-view-tbr-background-color: dynamic(#d8d8d8);
$ix-view-tbr-vertical-spacing:dynamic(2px);
$ix-view-tbr-horizontal-spacing:dynamic(6px);
$ix-view-tbr-text-color:dynamic(#fff);

$ix-view-menu-base-color: dynamic(#393939);
$ix-view-menu-item-height: dynamic(40px);
$ix-view-menu-item-font-size: dynamic(14px);

$ix-view-menu-text-color: dynamic(#fff);
$ix-view-menu-border-color: dynamic(lighten($ix-view-menu-base-color, 10%));
$ix-view-menu-background-color: dynamic(lighten($ix-view-menu-base-color, 10%));

$ix-view-menu-active-text-color: dynamic(#fff);
$ix-view-menu-active-background-color: dynamic(lighten($ix-view-menu-base-color, 20%));
