$ix-view-header-background-color: dynamic(#fff);
$ix-view-header-vertical-spacing:dynamic(2px);
$ix-view-header-horizontal-spacing:dynamic(6px);
$ix-view-header-text-color:dynamic(#606060);

$ix-view-menu-base-color: dynamic(#fff);
// 与toolbar等高
$ix-view-menu-item-height: dynamic(32px);
$ix-view-menu-item-font-size: dynamic(12px);

$ix-view-menu-text-color: dynamic(#606060);
$ix-view-menu-border-color: dynamic(#dbdbdb);
$ix-view-menu-background-color: dynamic(#fff);

$ix-view-menu-active-text-color: dynamic(#000);
$ix-view-menu-active-background-color: dynamic(#ececec);
