$boundlist-item-over-background-color: dynamic(#e5f1ee);
$boundlist-item-selected-background-color: dynamic(#ffefbb);
$boundlist-item-over-text-color: $ix-menu-item-active-text-color;
$boundlist-item-selected-text-color: $ix-menu-item-active-text-color;