$boundlist-item-over-background-color: dynamic(#f5f5f5);
$boundlist-item-selected-background-color: dynamic(#ece9c2);
$boundlist-item-over-text-color: dynamic(#000);
$boundlist-item-selected-text-color: dynamic(#000);