/* grid panel 行样式设置 */

$grid-row-cell-over-background-color: #f0eeee;
$grid-row-cell-selected-background-color: #ece9c2;
$grid-row-cell-alt-background-color: #efeff8;
//$grid-row-cell-over-color: #fff;