$tag-field-item-background-color: #f0eeee;
$tag-field-item-border-color: #777777;
$tag-field-item-border-radius: 2px;
$tag-field-item-over-background-color: #e9e9f1;
$tag-field-item-over-border-color: #777777;
$tag-field-item-selected-background-color: #e9e9f1;
$tag-field-item-selected-border-color: #777777;
$tag-field-item-selected-close-icon-glyph-color: #000;
$tag-field-item-selected-color: #000;