.ix-avatar {
    background-image: theme-background-image('iext/user');
    background-repeat: no-repeat;
    background-size: $ix-avatar-background-size auto;
    border-radius: $ix-avatar-border-radius;
    height: $ix-avatar-height;
    width: $ix-avatar-width;
}