.ix-list-container-body {
    //background-image: theme-background-image('iext/formbg');
    //background-repeat: repeat;
    background-color: #8f8f8f;
    border-top: solid 1px #afafb6 !important;

    .x-autocontainer-innerCt {
        //vertical-align: middle;
        >* {
            margin: auto;
        }
    }
}