$ix-font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
$ix-app-header-bg-color: dynamic(#7c7bad);
$ix-app-header-over-bg-color: dynamic(#5f5e97);
$ix-menu-item-over-bg-color: dynamic(#f5f5f5);

$ix-selected-bg-color: #e7e7e7;
$ix-over-bg-color: #f5f5f5;
$ix-base-bg-color: #5f5e97;
$ix-required-bgcolor: #d2d2ff;
$ix-body-bg-color: #f0eeee;
$ix-border-color: #a8a8a8;
$ix-filter-img-bg-color: #777777;
$ix-filter-item-bg-color: #e9e9f1;
$ix-filter-item-border-color: #777777;

$ix-grid-alter-bg-color: #efeff8;

$ix-kanban-stage1-bg-color: #e9e6e6;
$ix-kanban-stage2-bg-color: #f0eeee;

$ix-kanban-tag0-bg-color: #ffffff;
$ix-kanban-tag1-bg-color: #d8d8d8;
$ix-kanban-tag2-bg-color: #e5d8e3;
$ix-kanban-tag3-bg-color: #ece9c2;
$ix-kanban-tag4-bg-color: #dee180;
$ix-kanban-tag5-bg-color: #abd4cc;
$ix-kanban-tag6-bg-color: #b8e3e8;
$ix-kanban-tag7-bg-color: #f4ddab;
$ix-kanban-tag8-bg-color: #7f637d;
$ix-kanban-tag9-bg-color: #d8c5d5;

$ix-kanban-tag0-color: #5a5a5a;
$ix-kanban-tag1-color: #5e5e5e;
$ix-kanban-tag2-color: #7a3737;
$ix-kanban-tag3-color: #756832;
$ix-kanban-tag4-color: #5d6937;
$ix-kanban-tag5-color: #1a7759;
$ix-kanban-tag6-color: #1a5d83;
$ix-kanban-tag7-color: #5e5e5e;
$ix-kanban-tag8-color: #a5a5a5;
$ix-kanban-tag9-color: #5e5e5e;

$ix-kanban-btn-background-color: #e2e2e0;
$ix-kanban-btn-over-background-color: #c9c9c6;

$ix-tag-bar-div-max-height: 9px;
$ix-tag-bar-span-width: 40px;
$ix-tag-bar-span-height: 9px;

$ix-tab-over-bg-color: #eeeeee;
$ix-tab-bottom-border-color: #ddd;
$ix-tab-border-radius: 4px 4px 0 0;
$ix-tab-inactive-text-color: #4c4c4c;

$ix-win-close-icon-color: #000;
$ix-win-close-icon-opacity-normal: 0.2;
$ix-win-close-icon-opacity-over: 0.5;

$ix-button-border-color: #8c8c8c;
$ix-button-bg-color: #d4d4d4;

$ix-btn-bg-color: #ffffff;
$ix-btn-border-color: #cccccc;
$ix-btn-over-bg-color: #e6e6e6;
$ix-btn-over-border-color: #adadad;
$ix-btn-pressed-bg-color: #e6e6e6;

$ix-default-btn-bg-color: #515081;
$ix-default-btn-border-color: #414168;
$ix-default-btn-over-bg-color: #5f5e97;
$ix-default-btn-over-border-color: #5b5a91;

$ix-form-border: 1px solid #c8c8d3;
$ix-form-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
$ix-form-min-width: 650px;
$ix-form-max-width: 860px;
$ix-form-min-height: 330px;
$ix-form-padding: 16px;
$ix-form-ct-padding: 16px 0;
$ix-form-ct-border-bottom: 1px solid #ddd;

$ix-ws-border-right: 1px solid #afafb6;