$ix-btn-badge-border: dynamic(1px solid $base-color);
$ix-btn-badge-color: dynamic(#000);

$ix-btn-badge-large-padding: dynamic(2px 4px 2px 4px);
$ix-btn-badge-large-radius: dynamic(4px);
$ix-btn-badge-large-font-size: dynamic(16px);

$ix-btn-badge-medium-padding: dynamic(2px 4px 2px 4px);
$ix-btn-badge-medium-radius: dynamic(3px);
$ix-btn-badge-medium-font-size: dynamic(14px);

$ix-btn-badge-small-padding: dynamic(1px 3px 1px 3px);
$ix-btn-badge-small-radius: dynamic(2px);
$ix-btn-badge-small-font-size: dynamic(10px);
