$ix-stat-btn-value-color: dynamic(#000);
$ix-stat-btn-text-color: dynamic($base-color);

$ix-stat-btn-value-large-padding: dynamic(4px 9px 4px 9px);
$ix-stat-btn-value-large-font-size: dynamic(16px);
$ix-stat-btn-value-large-margin-bottom: dynamic(4px);
$ix-stat-btn-text-large-font-size: dynamic(14px);

$ix-stat-btn-value-medium-padding: dynamic(4px 8px 4px 8px);
$ix-stat-btn-value-medium-font-size: dynamic(14px);
$ix-stat-btn-value-medium-margin-bottom: dynamic(4px);
$ix-stat-btn-text-medium-font-size: dynamic(10px);

$ix-stat-btn-value-small-padding: dynamic(1px 7px 3px 7px);
$ix-stat-btn-value-small-font-size: dynamic(10px);
$ix-stat-btn-value-small-margin-bottom: dynamic(2px);
$ix-stat-btn-text-small-font-size: dynamic(8px);
